.find {
}
.find-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.find__list {
}
.find__item {
}
.find__title {
  font-size: 56px;
  line-height: 69px;
  margin: 154px 126px 36px 162px;
}
.find__text {
  font-size: 20px;
  line-height: 140.62%;
  margin: 0 137px 60px 162px;
}
