.gift {
  padding-top: 96px;
  padding-bottom: 144px;
}
.gift-container {
}
.gift__title {
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 23px;
}
.gift__text {
  font-size: 18px;
  line-height: 135.94%;
  text-align: center;
  margin-bottom: 64px;
}
.gift__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 135px;
  gap: 30px;
}
.gift__item {
  &:nth-child(n + 3) {
    background-color: #fafafa;
  }
}
.gift__img {
}
.gift__text2 {
  font-size: 20px;
  line-height: 24px;
  margin: 24px 24px 74px 24px;
}
.gift__link {
  margin-left: 24px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
}
