.how {
}
.how-container {
  display: flex;
  // align-items: center;
  justify-content: center;
  background-color: #f1f1f2;
}
.how__list {
  margin-left: 102px;
  
}
.how__item {
  
}
.how__title {
  margin-top: 164px;
  font-size: 32px;
  line-height: 140.62%;
}
.how__text {
  margin-top: 23px;
  font-size: 20px;
  line-height: 140.62%;
}
