.header__button {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  margin-left: 371px;
  min-width: 150px;
  max-height: 44px;
  border: 1px solid #f7941e;
  border-radius: 5px;
  margin-top: 36px;
}
.header__button-text {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #f7941e;
}
.find__button {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  background: #f7941e;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  margin: 0 359px 0 162px;
  border: none;
}
.find__button-text {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}
.how__button {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  margin-top: 35px;
  width: 200px;
  height: 60px;
  border: 1px solid #f7941e;
  border-radius: 5px;
}
.how__button-text {
  color: #f7941e;
  font-size: 18px;
  line-height: 134.77%;
  text-transform: uppercase;
}
.ready__first-button {
  display: flex;
  background-color: #231f20;
  border-radius: 5px;
  border: none;
}
.ready__second-button {
  display: flex;
  border: 1px solid #000000;
  border-radius: 5px;
}
.ready__first-button-text {
  color: #ffffff;
  font-size: 18px;
  line-height: 134.77%;
  text-transform: uppercase;
  padding: 15px 10px;
}
.ready__second-button-text {
  font-size: 18px;
  line-height: 134.77%;
  text-transform: uppercase;
  padding: 15px 10px;
}
