.header__container {
  display: flex;
  flex-direction: row;
}
.header__list {
  margin-left: 433px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
}
.header__item {
  //   &:not(:last-child) {
  //     margin-right: 31px;
  //   }
}
.header__link {
  font-size: 18px;
  line-height: 22px;
}
